{% extends "base_generic.html" %}

{% block content %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
    <h1>Detail Filer View</h1>

<div style="width: 100%; display: table;">
    <div style="display: table-row">
        <div id= "details" style="vertical-align: top; width: 50%;height: 600px; display: table-cell;">
          <table summary="filers_detail">
          	<tr><th>Context</th><th>Filer Details</th>
        		<tr><td>filer_id </td><td>{{ df1.filer_id  }}</td></tr>
        		<tr><td>filer_name </td><td>{{ df1.filer_name  }}</td></tr>
        		<tr><td>filer_type </td><td>{{ df1.filer_type  }}</td></tr>
        		<tr><td>status </td><td>{{ df1.status  }}</td></tr>
        		<tr><td>committee_type </td><td>{{ df1.committee_type  }}</td></tr>
        		<tr><td>office </td><td>{{ df1.office  }}</td></tr>
        		<tr><td>district </td><td>{{ df1.district  }}</td></tr>
        		<tr><td>treas_first_name </td><td>{{ df1.treas_first_name  }}</td></tr>
        		<tr><td>treas_last_name </td><td>{{ df1.treas_last_name  }}</td></tr>
        		<tr><td>address </td><td>{{ df1.address  }}</td></tr>
        		<tr><td>city </td><td>{{ df1.city  }}</td></tr>
        		<tr><td>state </td><td>{{ df1.state  }}</td></tr>
        		<tr><td>zip</td><td>{{ df1.zip }}</td></tr>

          </table>
        </div>
        <div id= "articles" style="vertical-align: top; display: table-cell;">

        </div>
    </div>
</div>

    <br></br>
    <h1>All Filer Contributions</h1>
    <table>
    <tr>
      <th>filer_id </th>
    <th>freport_id </th>
    <th>transaction_code </th>
    <th>e_year </th>
    <th>t3_trid </th>
    <th>date1_10 </th>
    <th>date2_12 </th>
    <th>contrib_code_20 </th>
    <th>contrib_type_code_25 </th>
    <th>corp_30 </th>
    <th>first_name_40 </th>
    <th>mid_init_42 </th>
    <th>last_name_44 </th>
    <th>addr_1_50 </th>
    <th>city_52 </th>
    <th>state_54 </th>
    <th>zip_56 </th>
    <th>check_no_60 </th>
    <th>check_date_62 </th>
    <th>amount_70 </th>
    <th>amount2_72 </th>
    <th>description_80 </th>
    <th>other_recpt_code_90 </th>
    <th>purpose_code1_100 </th>
    <th>purpose_code2_102 </th>
    <th>explanation_110 </th>
    <th>xfer_type_120 </th>
    <th>chkbox_130 </th>
    <th>crerec_uid </th>
    <th>crerec_date </th>
  </tr>
  </table>
  <textarea>
    {{ plot_data }}

  </textarea>

{% endblock %}

{% block jquery %}
//var endpoint = '/api/contbyfiler/data/'
//var articleData = articleLabels = []

$.ajax({
    method: "GET",
    success: function(data){
        //articleLabels = ['NY', 'MA']
        //articleData = [1000, 5000]
        articleChart()
        //transcriptChart()
    // console.log(data)
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    },
})


function articleChart(){
	 var plotData = []
	 var plotLabels = []
	 {% for pLabel in plot_data.cont_by_state_labels %}
	 plotLabels.push("{{pLabel}}");
	 {% endfor %}
	 {% for pData in plot_data.cont_by_state_data %}
	 plotData.push({{pData}});
	 {% endfor %}

     var data = [{
                  type: 'choropleth',
                  locationmode: 'USA-states',
                  locations: plotLabels,
                  z: plotData,
                  zmin: 0,
                  zmax: 25000,
                  colorscale: [
                    [0, 'rgb(242,240,247)'], [0.2, 'rgb(218,218,235)'],
                    [0.4, 'rgb(188,189,220)'], [0.6, 'rgb(158,154,200)'],
                    [0.8, 'rgb(117,107,177)'], [1, 'rgb(84,39,143)']
                  ],
                colorbar: {
                  title: 'Contributions USD',
                  thickness: 0.2
                },
                marker: {
                  line:{
                    color: 'rgb(255,255,255)',
                    width: 2
                  }
                }
              }];

      var layout = {
              title: 'Contributions by State Map',
              geo:{
                scope: 'usa',
                showlakes: true,
                lakecolor: 'rgb(255,255,255)'
              }
          };

    Plotly.newPlot('articles', data, layout);
}

{% endblock %}