{% extends "base_generic.html" %}

{% block plotly %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script>

            window.onload = function () {
                startTab();
            };

            function startTab() {
                document.getElementById("defaultOpen").click();

            }
  </script>
{% endblock %}

{% block page_header  %}
<h1>Detail Filer View: {{df1.filer_name}}</h1>
{% endblock %}

{% block content %}
{% load bootstrap3 %}

<div style="width: 100%; display: table;">
    <div style="display: table-row">
    	<div id= "details" style="vertical-align: top; width: 25%; display: table-cell; padding: 5px 5px;">
    		<h2>Summary:</h2>
    	</div>
    	<div style="vertical-align: top; display: table-cell; padding: 5px 5px;">
    		<h2 style="vertical-align: top;">Plots:</h2>
    	</div>
    </div>


    <div style="display: table-row">
        <div id= "details" style="vertical-align: top; width: 25%;height: 600px; display: table-cell; padding: 5px 5px;">
          
          <table summary="filers_detail">
          	<tr><th>Context</th><th>Filer Details</th>
        		<tr><td>filer_id </td><td>{{ df1.filer_id  }}</td></tr>
        		<tr><td>filer_name </td><td>{{ df1.filer_name  }}</td></tr>
        		<tr><td>filer_type </td><td>{{ df1.filer_type  }}</td></tr>
        		<tr><td>status </td><td>{{ df1.status  }}</td></tr>
        		<tr><td>committee_type </td><td>{{ df1.committee_type  }}</td></tr>
        		<tr><td>office </td><td>{{ df1.office  }}</td></tr>
        		<tr><td>district </td><td>{{ df1.district  }}</td></tr>
        		<tr><td>treas_first_name </td><td>{{ df1.treas_first_name  }}</td></tr>
        		<tr><td>treas_last_name </td><td>{{ df1.treas_last_name  }}</td></tr>
        		<tr><td>address </td><td>{{ df1.address  }}</td></tr>
        		<tr><td>city </td><td>{{ df1.city  }}</td></tr>
        		<tr><td>state </td><td>{{ df1.state  }}</td></tr>
        		<tr><td>zip</td><td>{{ df1.zip }}</td></tr>

          </table>
        </div>
        <div style="display: table-cell; vertical-align: top; padding: 5px 5px;"> 
        <div class="tab" >
          
          <button id="defaultOpen" class="tablinks" onclick="openPlot(event, 'cont_by_county_map')">Amt by NY County</button>
          <button class="tablinks" onclick="openPlot(event, 'cont_by_state_map')">Amt by State</button>
          <button class="tablinks" onclick="openPlot(event, 'cont_by_year_bar')">Amt by Year</button>
        </div>

        <div id="cont_by_county_map" class="tabcontent">
          <div>{{ plot_data.cont_by_county_plot_div|safe }}</div>
        </div>

        <div id="cont_by_state_map" class="tabcontent">
          <!--<div id= "cont_by_state_map" style="vertical-align: top;"></div>-->
          <!--<p>My wife used to be a size 2</p>-->
          <div id="cont_by_state_plot" style="vertical-align: top; horizontal-align: left;" ></div>

        </div>

        

        <div id="cont_by_year_bar" class="tabcontent">
          <h3>Amount By Year Bar Chart</h3>
          <p>Coming Soon.</p>
        </div>
      </div>
    </div>
        <!-- <div id= "cont_by_state_map" style="vertical-align: top;">
        </div> -->
    </div>
</div>

<br></br>
<div class="container-fluid" >
<h2>Contribution/Transaction Data For: {{df1.filer_name}}</h2>
<p>Filter by any number of columns. Note: Charts will dynamically update based on filtering. For contributions only, use the preset button or select A, B, C, D, G and P from the Transaction Code Select Box.</p>
<div id="form_override2">
{% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form  layout='inline'%}
        {% bootstrap_button 'Apply Filter' %}
        <button onclick="selectContribOnly(event)">Contributions Only</button>

    </form>
{% endif %}
</div>
{% load export_url from django_tables2 %}
<a href=" {% export_url "csv" %} ">Export to CSV</a>
<div style="overflow:auto;">
{% load render_table from django_tables2 %}
{% render_table table 'django_tables2/bootstrap.html' %}
</div>
</div>
<!--<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>-->
<script>
function openPlot(evt, plotName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(plotName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>



<script>
function selectContribOnly(evt) {
  //document.getElementById("id_transaction_code").getElementsByTagName("option")[0]
  //console.log(document.getElementById("id_transaction_code").getElementsByTagName("option"))
  //console.log("hello")
  //for (i =0; document.getElementById("id_transaction_code").getElementsByTagName("option").length) {
    //tcOption.setAttribute("selected", true);
  //}
  var i = 0;
  document.getElementById("id_transaction_code").getElementsByTagName("option")[i].setAttribute("selected", "selected");
  // var j = 2;
  // if (j==2) {
  //   document.getElementById("id_transaction_code").getElementsByTagName("option")[j].removeAttribute("selected");
  // }
  var tcOpts = document.getElementById("id_transaction_code").getElementsByTagName("option");
  for (i=0; i<document.getElementById("id_transaction_code").getElementsByTagName("option").length; i++) {
    if (tcOpts[i].value == "A" || tcOpts[i].value == "B" || tcOpts[i].value == "C"  || tcOpts[i].value == "D" 
      || tcOpts[i].value == "G"  || tcOpts[i].value == "P" ) {
      tcOpts[i].setAttribute("selected", "selected");
    }
    else {
      tcOpts[i].removeAttribute("selected");
    }

  }
  // for (i = 0; i < document.getElementById("id_transaction_code").getElementsByTagName("option").length; i++) {
  //     //if (document.getElementById("id_transaction_code").getElementsByTagName("option")[i].value == 'A') {

  //     if (i==1) {
  //       document.getElementById("id_transaction_code").getElementsByTagName("option")[i].setAttribute("selected", true);
  //     }
  //     else {
  //       document.getElementById("id_transaction_code").getElementsByTagName("option")[i].setAttribute("selected", false);
  //     }
  // } 


  }
  //document.getElementsByTagName("H1")[0].setAttribute("class", "democlass"); 
</script>







{% endblock %}


{% block jquery %}
//var endpoint = '/api/contbyfiler/data/'
//var articleData = articleLabels = []

$.ajax({
    method: "GET",
    success: function(data){
        //articleLabels = ['NY', 'MA']
        //articleData = [1000, 5000]
        articleChart()
        //transcriptChart()
    // console.log(data)
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    },
})


function articleChart(){
	 var plotData = []
	 var plotLabels = []
	 {% for pLabel in plot_data.cont_by_state_labels %}
	 plotLabels.push("{{pLabel}}");
	 {% endfor %}
	 {% for pData in plot_data.cont_by_state_data %}
	 plotData.push({{pData}});
	 {% endfor %}
	 var dynamicZ = {{ plot_data.axis_state }}

     var data = [{
                  type: 'choropleth',
                  locationmode: 'USA-states',
                  locations: plotLabels,
                  z: plotData,
                  zmin: 0,
                  zmax: dynamicZ,
                  colorscale: [
                    [0, 'rgb(242,240,247)'], [0.2, 'rgb(218,218,235)'],
                    [0.4, 'rgb(188,189,220)'], [0.6, 'rgb(158,154,200)'],
                    [0.8, 'rgb(117,107,177)'], [1, 'rgb(84,39,143)']
                  ],
                colorbar: {
                  title: 'USD',
                  thickness: 10
                },
                marker: {
                  line:{
                    color: 'rgb(255,255,255)',
                    width: 2
                  }
                }
              }];

      var layout = {
              //title: 'Contributions by State Map',
              margin: {t: 20, b: 20, r: 20, l: 20},
              width: 800,
              height: 600,
              dragmode: 'select',
              geo:{
                scope: 'usa',
                showlakes: true,
                lakecolor: 'rgb(255,255,255)'
              }
          };

    Plotly.newPlot('cont_by_state_plot', data, layout);
}

{% endblock %}