{% extends "base_generic.html" %}

{% block plotly %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block title %}
<h1> Contributions by State </h1>
{% endblock %}

{% block content %}
<div style="width: 100%; display: table;">
    <div style="display: table-row">
        <div id= "articles" style="width: 50%;height: 600px; display: table-cell;"> Left </div>
        <div id="graph"> Right </div> 
    </div>
</div>

/chart_state/
{% endblock %}

{% block jquery %}
//var endpoint = '/api/contbyfiler/data/'
//var articleData = articleLabels = []

$.ajax({
    method: "GET",
    success: function(data){
        //articleLabels = ['NY', 'MA']
        //articleData = [1000, 5000]
        articleChart()
        //transcriptChart()
    // console.log(data)
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    },
})

function articleChart2(){
     var data = [{
                  type: 'choropleth',
                  locationmode: 'USA-states',
                  locations: articleLabels,
                  z: articleData,
                  zmin: 0,
                  zmax: 17000,
                  colorscale: [
                    [0, 'rgb(242,240,247)'], [0.2, 'rgb(218,218,235)'],
                    [0.4, 'rgb(188,189,220)'], [0.6, 'rgb(158,154,200)'],
                    [0.8, 'rgb(117,107,177)'], [1, 'rgb(84,39,143)']
                  ],
                colorbar: {c
                  title: 'Millions USD',
                  thickness: 0.2
                },
                marker: {
                  line:{
                    color: 'rgb(255,255,255)',
                    width: 2
                  }
                }
              }];

      var layout = {
              title: '2011 US Agriculture Exports by State',
              geo:{
                scope: 'usa',
                showlakes: true,
                lakecolor: 'rgb(255,255,255)'
              }
          };

    Plotly.newPlot('graph', data, layout);
}


function articleChart(){
  Plotly.d3.json('https://raw.githubusercontent.com/plotly/datasets/master/florida-red-data.json', function(redjson) {

    Plotly.d3.json('https://raw.githubusercontent.com/plotly/datasets/master/florida-blue-data.json', function(bluejson) {

      Plotly.newPlot("articles", [{
        type: 'scattermapbox',
        lat: [46],
        lon: [-74]
      }], {
        title: "Florida Counties",
        height: 600,
        width: 600,
        mapbox: {
          center: {
            lat: 27.2,
            lon: -84
          },
          style: 'light',
          zoom: 5,
          layers: [
            {
              sourcetype: 'geojson',
              source: redjson,
              type: 'fill',
              color: 'rgba(163,22,19,0.8)'
            },
            {
              sourcetype: 'geojson',
              source: bluejson,
              type: 'fill',
              color: 'rgba(40,0,113,0.8)'
            },        
          ]
        }
      }, {
        mapboxAccessToken: 'pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiRy1GV1FoNCJ9.yUPu7qwD_Eqf_gKNzDrrCQ'
      });
        
      
  });

  });




}


{% endblock %}